@page "/counter"
@attribute [Authorize(Roles = "Janemba")]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p></p>

<AuthorizeView Roles="Iron Man">
    <Authorized>
        <span>Estas autorizado @context.User.Identity.Name</span>
    </Authorized>
    <NotAuthorized>
        <span>No estas autorizado</span>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}